* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.btn {
  padding: 0.6rem 1.5rem;
}
canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#colorBtn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  padding: 1rem 2rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#colorBtn:hover {
  background-color: #ddd;
}
